<!DOCTYPE html>
<html>
<head>
  <title>Omnicalc Params</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="5ahLlzRmIydizCUqUm2klcVLvogvMZvP2prkoV7uzqSRVnEuW3wL5U/BnKu6fu5jy9nVRmNWdQeD/YH9cQZErw==" />

  <link rel="stylesheet" media="all" href="/assets/application-1c79c29286204cfec74780022d0186e27fc9f09c8b5ae96d566e54dca4b9ce48.css" />
  <script src="/assets/application-521b49b32664ff50f93d312357743f30a2baf099738409fbbf5f881e52ae6a52.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <ul class="list-inline">
          <li>
            Part I Targets:
          </li>

          <li>
            <a href="/flexible/square/5">
              Flexible Square Example
            </a>
          </li>

          <li>
            <a href="/flexible/square_root/8">
              Flexible Square Root Example
            </a>
          </li>

          <li>
            <a href="/flexible/payment/410/30/250000">
              Flexible Payment Example
            </a>
          </li>

          <li>
            <a href="/flexible/random/50/100">
              Flexible Random Example
            </a>
          </li>
        </ul>

        <ul class="list-inline">
          <li>
            Part II Targets:
          </li>

          <li>
            <a href="/square/new">
              Square Form
            </a>
          </li>

          <li>
            <a href="/square_root/new">
              Square Root Form
            </a>
          </li>

          <li>
            <a href="/payment/new">
              Payment Form
            </a>
          </li>

          <li>
            <a href="/random/new">
              Random Form
            </a>
          </li>
        </ul>

        <ul class="list-inline">
          <li>
            Part III Targets:
          </li>

          <li>
            <a href="/word_count/new">
              Word Count Form
            </a>
          </li>

          <li>
            <a href="/descriptive_statistics/new">
              Stats Form
            </a>
          </li>
        </ul>

        <h1>
          Flexible Square Root
        </h1>

        <p>
          The square root of <%= @user_number %> is <%= @square_root %>.
        </p>

      </div>
    </div>
  </div>
</body>
</html>
