<html>
<head>
  <title>Omnicalc Params Target</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="b7W5ARComQSS41XRIex94Vzw/c+9Ae0v0VB7hWHm2A8mqxcXfc+nK8xeT0rf9dCWX16AHOGFkTpIsAXYa6MEZA==" />

  <link rel="stylesheet" media="all" href="/assets/application-1c79c29286204cfec74780022d0186e27fc9f09c8b5ae96d566e54dca4b9ce48.css" />
  <script src="/assets/application-521b49b32664ff50f93d312357743f30a2baf099738409fbbf5f881e52ae6a52.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <table class="table">
          <tr>
            <th>
              Part I Targets
            </th>

            <td>
              <a href="/flexible/square/5">
                Flexible Square Example
              </a>
            </td>

            <td>
              <a href="/flexible/square_root/8">
                Flexible Square Root Example
              </a>
            </td>

            <td>
              <a href="/flexible/payment/410/30/250000">
                Flexible Payment Example
              </a>
            </td>

            <td>
              <a href="/flexible/random/50/100">
                Flexible Random Example
              </a>
            </td>
          </tr>

          <tr>
            <th>
              Part II Targets
            </th>

            <td>
              <a href="/square/new">
                Square Form
              </a>
            </td>

            <td>
              <a href="/square_root/new">
                Square Root Form
              </a>
            </td>

            <td>
              <a href="/payment/new">
                Payment Form
              </a>
            </td>

            <td>
              <a href="/random/new">
                Random Form
              </a>
            </td>
          </tr>

          <tr>
            <th>
              Part III Targets
            </th>

            <td>
              <a href="/word_count/new">
                Word Count Form
              </a>
            </td>

            <td>
              <a href="/descriptive_stats/new">
                Stats Form
              </a>
            </td>

            <td></td>
            <td></td>
          </tr>
        </table>

        <h1>
          Flexible Square
        </h1>

        <p>
          The square root of <%= @user_number %> is <%= @square_root.round(2) %>.
        </p>
        
      </div>
    </div>
  </div>
</body>
</html>
