
<!DOCTYPE html>
<html>
<head>
  <title>OmnicalcParams</title>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="iMcI93jeqp+0nulwuoOduGVPOJWU0a7QyIEOhfUPiCv+o1/1FCsXXpkdCDbMYwX8CGYz/AqEmnN7OSYSyfnwxg==" />

  <link rel="stylesheet" media="all" href="/assets/application.self-67901d97325a47af5ee5bb4cf0c0d47bd9f58083a797bada1ace64c3c91afed1.css?body=1" />
  <script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1"></script>
  <script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1"></script>
  <script src="/assets/action_cable.self-5454023407ffec0d29137c7110917e1e745525ae9afbc05f52104c4cd6597429.js?body=1"></script>
  <script src="/assets/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js?body=1"></script>
  <script src="/assets/application.self-b89234cf2659d7fedea75bca0b8d231ad7dfc2f3f57fcbaf5f44ed9dc384137b.js?body=1"></script>
</head>

<body>
  <!DOCTYPE html>
  <html>
  <head>
    <title>Omnicalc Params Target</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="ol4umHvdXTewUkDQvUMMz4gtARLAMkMeCC5oLG6aBzXWoBQhFMd19Z1f+VFVUEY5hr9q3IxVrdZRSQ1wQXKNPg==" />

    <link rel="stylesheet" media="all" href="/assets/application-1c79c29286204cfec74780022d0186e27fc9f09c8b5ae96d566e54dca4b9ce48.css" />
    <script src="/assets/application-521b49b32664ff50f93d312357743f30a2baf099738409fbbf5f881e52ae6a52.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <ul class="list-inline">
            <li>
              Part I Targets:
            </li>

            <li>
              <a href="/flexible/square/5">
                Flexible Square Example
              </a>
            </li>

            <li>
              <a href="/flexible/square_root/8">
                Flexible Square Root Example
              </a>
            </li>

            <li>
              <a href="/flexible/payment/410/30/250000">
                Flexible Payment Example
              </a>
            </li>

            <li>
              <a href="/flexible/random/50/100">
                Flexible Random Example
              </a>
            </li>
          </ul>

          <ul class="list-inline">
            <li>
              Part II Targets:
            </li>

            <li>
              <a href="/square/new">
                Square Form
              </a>
            </li>

            <li>
              <a href="/square_root/new">
                Square Root Form
              </a>
            </li>

            <li>
              <a href="/payment/new">
                Payment Form
              </a>
            </li>

            <li>
              <a href="/random/new">
                Random Form
              </a>
            </li>
          </ul>

          <ul class="list-inline">
            <li>
              Part III Targets:
            </li>

            <li>
              <a href="/word_count/new">
                Word Count Form
              </a>
            </li>

            <li>
              <a href="/descriptive_statistics/new">
                Stats Form
              </a>
            </li>
          </ul>

          <h1>
            Square Results
          </h1>

          <dl>
            <dt>
              Number
            </dt>
            <dd>
              <%= @user_number %>
            </dd>

            <dt>
              Square
            </dt>
            <dd>
              <%= @square %>
            </dd>
          </dl>

          <a href="/square/new">
            Calculate another square
          </a>


        </div>
      </div>
    </div>
  </body>
  </html>

</body>
</html>
